<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="txrd.app.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"
/>
    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="txrd.app.android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="txrd.app.android.AllTeams"
            android:label="@string/title_activity_all_teams"
            android:screenOrientation="portrait"
            android:parentActivityName="txrd.app.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="txrd.app.android.MainActivity" />
        </activity>
        <activity
            android:name="txrd.app.android.ScheduleView"
            android:screenOrientation="portrait"
            android:parentActivityName="txrd.app.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="txrd.app.android.MainActivity" />
        </activity>
        <activity
            android:name="txrd.app.android.RulesView"
            android:screenOrientation="portrait"
            android:parentActivityName="txrd.app.android.MainActivity" >
        </activity>
    </application>

</manifest>
